<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="../css/index.css">
</head>


<body>
    <div class="main">
        <div class="box" id="box">
            <div class="card-main">
                <div class="flag">
                    Món mới
                </div>
                <img src="https://product.hstatic.net/200000421745/product/ts_tran_chau_052aed385e41470db7cec46eddfcfdbb.png"
                    alt="">
                <div class="info">
                    <h1>Trà sữa chân châu đường đen</h1>
                    <p>55.000 đ</p>
                    <button>đặt hàng</button>
                </div>
            </div>

            <!-- <div class="card">
                <img src="https://product.hstatic.net/200000421745/product/ts_tran_chau_052aed385e41470db7cec46eddfcfdbb.png"
                    alt="">
                <div class="card-title">capuchino</div>
                <div class="card-price">55.000 đ</div>
                <a href="#">đặt hàng</a>
            </div>
            <div class="card">
                <img src="https://product.hstatic.net/200000421745/product/ts_tran_chau_052aed385e41470db7cec46eddfcfdbb.png"
                    alt="">
                <div class="card-title">capuchino-chocolate</div>
                <div class="card-price">55.000 đ</div>
                <a href="#">đặt hàng</a>
            </div>
            <div class="card">
                <img src="https://product.hstatic.net/200000421745/product/ts_tran_chau_052aed385e41470db7cec46eddfcfdbb.png"
                    alt="">
                <div class="card-title">capuchino-chocolate</div>
                <div class="card-price">55.000 đ</div>
                <a href="#">đặt hàng</a>
            </div> -->


        </div>
    </div>
    <script src="../dist/index.js"></script>
</body>

</html>